In [1]:
import pandas as pd
import numpy as np

In [2]:
students = pd.read_csv('ABHAY UBHALE - students.csv', delimiter='\t')
mean = {"DM":students["DM"].mean(),
       "DSA":students["DSA"].mean(),
       "COA":students["COA"].mean(),
       "PL1":students["PL1"].mean()}

range_max = {"DM":students["DM"].std(),
       "DSA":students["DSA"].std(),
       "COA":students["COA"].std(),
       "PL1":students["PL1"].std()}

range_min = {"DM":students["DM"].std()*0.4,
       "DSA":students["DSA"].std()*0.4,
       "COA":students["COA"].std()*0.4,
       "PL1":students["PL1"].std()*0.4}

In [3]:
def normalizeData(data):
    grades = list((((data - 0.4*np.min(data)) / (np.max(data) - 0.4*np.min(data)))*10))
    output = list(map(int, grades))
    return output


pointer_DSA = normalizeData(students["DSA"])
pointer_COA = normalizeData(students["COA"])
pointer_DM = normalizeData(students["DM"])
pointer_PL1 = normalizeData(students["PL1"])

print(pointer_DSA)
print(pointer_DM)
print(pointer_COA)
print(pointer_PL1)

[5, 10, 4, 6, 8, 8, 3, 7, 9, 7, 9, 6, 5, 7, 7, 5, 3, 10, 6, 3]
[6, 8, 9, 6, 5, 6, 4, 7, 9, 9, 6, 9, 10, 8, 6, 5, 4, 5, 7, 9]
[4, 4, 5, 7, 5, 8, 3, 5, 9, 10, 7, 4, 8, 7, 4, 9, 7, 3, 6, 7]
[9, 3, 6, 5, 6, 4, 8, 4, 7, 6, 4, 5, 6, 10, 5, 8, 5, 6, 5, 10]

In [4]:
creditsDF = pd.read_csv('ABHAY UBHALE - credit.txt', delimiter="\t", header = None)

credits = {"DM":creditsDF[1][0],
       "DSA":creditsDF[1][1],
       "COA":creditsDF[1][2],
       "PL1":creditsDF[1][3]}
print(creditsDF)
print(credits)

SPI = []
for i in range(len(pointer_DM)):
    spi = ((pointer_DSA[i]*credits["DSA"]) +(pointer_DM[i]*credits["DM"]) +(pointer_COA[i]*credits["COA"]) +(pointer_PL1[i]*credits["PL1"]))/(credits["DSA"]+credits["DM"]+credits["COA"]+credits["COA"])
        
    SPI.append(round(spi, 2))
SPI

     0    1
0   DM  3.0
1  DSA  4.0
2  COA  3.0
3  PL1  1.5
{'DM': 3.0, 'DSA': 4.0, 'COA': 3.0, 'PL1': 1.5}

[4.88,
 6.19,
 5.15,
 5.42,
 5.46,
 6.15,
 3.46,
 5.38,
 7.73,
 7.23,
 6.23,
 5.42,
 6.38,
 6.77,
 5.04,
 5.69,
 4.04,
 5.62,
 5.42,
 5.77]

In [5]:
m = ["FF", "FF","FF", "FF", "DD", "CD", "CC", "BC", "BB", "AB", "AA"]

def convertGrade(grade_list):
    for i in range(len(grade_list)):
        grade_list[i] = m[(grade_list[i])]


convertGrade(pointer_DSA)
convertGrade(pointer_COA)
convertGrade(pointer_DM)
convertGrade(pointer_PL1)

print(pointer_DSA)
print(pointer_DM)
print(pointer_COA)
print(pointer_PL1)

['CD', 'AA', 'DD', 'CC', 'BB', 'BB', 'FF', 'BC', 'AB', 'BC', 'AB', 'CC', 'CD', 'BC', 'BC', 'CD', 'FF', 'AA', 'CC', 'FF']
['CC', 'BB', 'AB', 'CC', 'CD', 'CC', 'DD', 'BC', 'AB', 'AB', 'CC', 'AB', 'AA', 'BB', 'CC', 'CD', 'DD', 'CD', 'BC', 'AB']
['DD', 'DD', 'CD', 'BC', 'CD', 'BB', 'FF', 'CD', 'AB', 'AA', 'BC', 'DD', 'BB', 'BC', 'DD', 'AB', 'BC', 'FF', 'CC', 'BC']
['AB', 'FF', 'CC', 'CD', 'CC', 'DD', 'BB', 'DD', 'BC', 'CC', 'DD', 'CD', 'CC', 'AA', 'CD', 'BB', 'CD', 'CC', 'CD', 'AA']

In [6]:
df = {"RollNo":students["RollNo"],
      "Name":students["Name"],
      "DSA":pointer_DSA,
      "DM":pointer_DM,
      "COA":pointer_COA,
      "PL1":pointer_PL1,
      "SPI":SPI}
data = pd.DataFrame(df)
data

       RollNo            Name DSA  DM COA PL1   SPI
0   181070001     AKSHAT SHAH  CD  CC  DD  AB  4.88
1   181070002    ADITYA GUPTA  AA  BB  DD  FF  6.19
2   181070003      AMOGH KENI  DD  AB  CD  CC  5.15
3   181070004     ANANT JOSHI  CC  CC  BC  CD  5.42
4   181070005      ANKUR KEER  BB  CD  CD  CC  5.46
5   181070006    VEDANT PATIL  BB  CC  BB  DD  6.15
6   181070007  SIDDHESH PATIL  FF  DD  FF  BB  3.46
7   181070008   BHASHYA PATEL  BC  BC  CD  DD  5.38
8   181070009      KUSH DOSHI  AB  AB  AB  BC  7.73
9   181070010   HARSHAL JOSHI  BC  AB  AA  CC  7.23
10  181071011     SAKSHI NEGI  AB  CC  BC  DD  6.23
11  181071012      GARGI MANE  CC  AB  DD  CD  5.42
12  181071013   SANJYOT KAPSE  CD  AA  BB  CC  6.38
13  181071014      MONA DOSHI  BC  BB  BC  AA  6.77
14  181071015     RASIKA DIVE  BC  CC  DD  CD  5.04
15  181071016      RIYA PATEL  CD  CD  AB  BB  5.69
16  181071017       HRIM SHAH  FF  DD  BC  CD  4.04
17  181071018    TANAYA GHUGE  AA  CD  FF  CC  5.62
18  181071019     DISHA RATHI  CC  BC  CC  CD  5.42
19  181071020      ARVI DETHE  FF  AB  BC  AA  5.77

In [7]:
data.to_csv("results.csv")